/*
index的css
 */
#text{
    /*background-color:gray;*/
    text-align:center
}
#manager{
    position:absolute;
    bottom:0px;
    right:20px;
	float:right;

}
#book{
    position:absolute;
    bottom:0px;
    left:20px;
	Margin-right:600px;

}
